<footer>
    <div class="main">
      <div class="content footer-links">
        <div class="footer-company">
          <h6>Sobre nós</h6>
          <h6>Contato</h6>
        </div>
        <div class="footer-rental">
          <h4>Rental</h4>
          <h6>Self-Drive</h6>
          <h6>Chauffer-Driven</h6>
          <h6>Help</h6>
        </div>
        <div class="footer-social">
          <h4>Stay connected</h4>
          <div class="social-icons">
            <img src="/static/images/instagram.png" alt="Instagram" />
            <img src="/static/images/facebook.png" alt="Facebook" />
          </div>
        </div>
        <div class="footer-contact">
          <h4>Contate-nos</h4>
          <h6>+55 83 999999999</h6>
          <h6>mateus.trigueiro@academico.ifpb.edu.br</h6>
          <h6>DIRETAMENTE TIBIRI 2</h6>
        </div>
      </div>
    </div>
    <div class="last">PROJETO ED @preguiças</div>
  </footer>