<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebCars</title>
    <link rel="stylesheet" href="/static/home.css">
  </head>
  <body>
    <header>
      <div class="content">
        <nav>
          <p class="brand">Web<strong>Cars</strong></p>
          <ul>
            <li><a href="#catalog">Catalogo</a></li>
            <li><a href="#about">Sobre nós</a></li>
            <li><a href="#feature">Features</a></li>


            {%if not ('logado' in log) %}
            <a href="/login">
            <button type="submit">Login</button>
            </a>
            {%endif%}

            <a href="/anunciar">
              <button type="submit">Anuncie!</button>
              </a>

            {%if ('logado' in log) %}
            <a href="/sair">
            <button type="submit">Sair</button>
            </a>
            {%endif%}

            

          </ul>
        </nav>
        <div class="header-block">
          <div class="text">
            <h2>O carro perfeito para você!</h2>
            <p>
              Quer encontrar o carro perfeito, do seu gosto, e que caiba no seu bolso, venha conosco!
            </p>
          </div>
          <img src="/static/images/pngwing.com (3).png" alt="Car" />
        </div>
      </div>
    </header>
    <section class="catalog" id="catalog">
      <div class="content">
        <div class="title-wrapper-catalog">
          <p>Encontre o que você quer</p>
          <h3>Catalogo</h3>
        </div>
        <div class="filter-card">
          <input
            type="text"
            class="search-input"
            placeholder="Escolha o modelo que você deseja"
          />
          <button class="search-button">Pesquise</button>
        </div>
        <div class="card-wrapper">
          <div class="card-item">
            <img src="/static/images/car-card.png" alt="Car" />
            <div class="card-content">
              <h3>Audi Supra TT</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repellendus.
              </p>
              <a href="/carro">
                <button  type="button">Desejo comprar!</button>
                </a>
            </div>
          </div>
          <div class="card-item">
            <img src="/static/images/car-card.png" alt="Car" />
            <div class="card-content">
              <h3>Audi Supra TT</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repellendus.
              </p>
              
              <a href="/carro">
                <button  type="button">Desejo comprar!</button>
                </a>
            </div>
          </div>
          <div class="card-item">
            <img src="/static/images/car-card.png" alt="Car" />
            <div class="card-content">
              <h3>Audi Supra TT</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repellendus.
              </p>
              <a href="/carro">
                <button  type="button">Desejo comprar!</button>
                </a>
            </div>
          </div>
          <div class="card-item">
            <img src="/static/images/car-card.png" alt="Car" />
            <div class="card-content">
              <h3>Audi Supra TT</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repellendus.
              </p>
              <a href="/carro">
                <button  type="button">Desejo comprar!</button>
                </a>
            </div>
          </div>
          <div class="card-item">
            <img src="/static/images/car-card.png" alt="Car" />
            <div class="card-content">
              <h3>Audi Supra TT</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repellendus.
              </p>
              <a href="/carro">
                <button  type="button">Desejo comprar!</button>
                </a>
            </div>
          </div>
          <div class="card-item">
            <img src="/static/images/car-card.png" alt="Car" />
            <div class="card-content">
              <h3>Audi Supra TT</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repellendus.
              </p>
              <a href="/carro">
                <button  type="button">Desejo comprar!</button>
                </a>
            </div>
          </div>
          <div class="card-item">
            <img src="/static/images/car-card.png" alt="Car" />
            <div class="card-content">
              <h3>Audi Supra TT</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repellendus.
              </p>
              <a href="/carro">
                <button  type="button">Desejo comprar!</button>
                </a>
            </div>
          </div>
          <div class="card-item">
            <img src="/static/images/car-card.png" alt="Car" />
            <div class="card-content">
              <h3>Audi Supra TT</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repellendus.
              </p>
              <a href="/carro">
                <button  type="button">Desejo comprar!</button>
                </a>
            </div>
          </div>
          <div class="card-item">
            <img src="/static/images/car-card.png" alt="Car" />
            <div class="card-content">
              <h3>Audi Supra TT</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repellendus.
              </p>
              <a href="/carro">
                <button  type="button">Desejo comprar!</button>
                </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="about" id="about">
      <div class="content">
        <div class="title-wrapper-about">
          <h1>Sobre nós</h1>
        </div>
        <div class="about-content">
          <div class="left">
            <img src="/static/images/about.png" alt="About" />
          </div>
          <div class="right">
            <h3>Texto sobre nós(nãio feito)</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae ut inventore magni repellendus ab ad itaque facere. A
              tenetur quam, nobis tempore illum laborum ipsa fuga, itaque
              possimus repellat ad perspiciatis, velit reiciendis eos facilis
              sapiente blanditiis quas officia hic beatae quibusdam! Quod
              eligendi porro possimus voluptatum ad ipsum sapiente soluta,
              maiores nobis tenetur adipisci officiis nisi illum quae natus
              nostrum tempora accusantium blanditiis? Rem nesciunt illum
              dolorum, perferendis quos consequatur suscipit cumque fugiat alias
              sint repellat qui adipisci error est distinctio doloribus labore
              sunt modi eos odio quibusdam dicta. Dignissimos voluptate illum
              possimus quo. Ducimus repellat doloribus quisquam quidem?
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="features" id="features">
      <div class="content">
        <div class="title-wrapper-features">
          <p>What you can do</p>
          <h3>Features</h3>
        </div>
        <div class="feature-card-block">
          <div class="feature-card-item">
            <img src="/static/images/feature-planet.png" alt="Feature" />
            <div class="feature-text-content">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="feature-card-item">
            <img src="/static/images/feature-planet.png" alt="Feature" />
            <div class="feature-text-content">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="feature-card-item">
            <img src="/static/images/feature-planet.png" alt="Feature" />
            <div class="feature-text-content">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="feature-card-item">
            <img src="/static/images/feature-planet.png" alt="Feature" />
            <div class="feature-text-content">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="feature-card-item">
            <img src="/static/images/feature-planet.png" alt="Feature" />
            <div class="feature-text-content">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="feature-card-item">
            <img src="/static/images/feature-planet.png" alt="Feature" />
            <div class="feature-text-content">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include 'footer.html'%}
    
  </body>
</html>
