<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link  rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"  crossorigin="anonymous">
    <link rel="stylesheet" href="/static/perfil.css">
</head>
<body>
    <div class="card" style="width: 18rem;">
        <img src="https://blogdaconsequencia.files.wordpress.com/2022/05/semfoto.jpg?w=720" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Seu perfil</h5>
          <p class="card-text">Este usuário possuí 4 carros anunciados , clique abaixo para ver.</p>
          <a href="/carrosusr" class="btn btn-primary">Carros anunciados</a>
        </div>
      </div>
</body>
</html>