<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styleR.css">
    <script defer src="/JavaScript/login.js"></script>
    <title>Cadastro</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <h1>Cadastre-se <br>e acesse todo conteúdo</h1>
            <img src="/static/carro2.svg" class="left-login-image" alt="Carro">
        </div>
        <div class="right-login">
            <div class="card-login">
                
                <h1>Cadastro</h1>
                <form class="form" action="/registro", method="post">
                <div class="textfield">
                    
                    <label for="usuario">Usuário</label>
                    <input id="nome" type="text" name="usuario" placeholder="Usuário" required>
                </div>
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input id = senha type="password" name="senha" placeholder="Senha" required>
                </div>
                <div class="textfield">
                    <label for="senha">Confirmar Senha</label>
                    <input id = senha type="password" name="senha2" placeholder="Senha" required>
                </div>
                    <button class="btn-login">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
