<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/blabla.css">
    <link rel="stylesheet" href="/static/venda.css">
    <script defer src="/JavaScript/venda.js"></script>
    <title>Formulário GN</title>
</head>
<body>
    <div class="content">
        <h1>Anuncio</h1>
        <form id="form">
            <div>
                <input type="text" name="modelo" placeholder="Digite o modelo do carro" class="inputs required" oninput="nameValidate()">
                <span class="span-required">Nome deve ter no mínimo 3 caracteres</span>
            </div>
            <div>
                <input type="text" name="cor" placeholder="Digite a cor do seu carro" class="inputs required" >
                
            </div>
            <div>
                <input type="number" name="ano" placeholder="Digite o ano do carro" class="inputs required" minlength="4" maxlength="4">
                
            </div>
            
            <div>
                <input type="number" name="km" placeholder="Digite a kilometragem do carro" class="inputs required" >
                
            </div>

            <div>
                <input type="text" name="placa" placeholder="Placa do carro" class="inputs required" oninput="validarPlaca" >
                
            </div>

            <div>
                <input type="tel" name="Contato" placeholder="Contato do vendedor" class="inputs required" oninput="telefone_validation" >
                
            </div>
            <textarea class="inputs" name="descricao" id="descricao" cols="25" rows="10" placeholder="Fale um pouco sobre o carro"></textarea>
            <p>Câmbio:</p>
            <div class="box-select1">
                <div>
                    <input type="radio" id="m" value="m" name="cambio1">
                    <label for="m">Automatico</label>
                </div>
                <div>
                    <input type="radio" id="f" value="f" name="cambio2">
                    <label for="f">Manual</label>
                </div>
                <div>
                    <input type="radio" id="o" value="o" name="cambio">
                    <label for="o">Outro</label>
                </div>
            </div>
            
            <div class="box-select2">
                <p>Envie as imagens do veiculo</p>
                <label class="picture" for="picture__input" tabIndex="0">
                    <span class="picture__image"></span>
                  </label>
                  
                  <input type="file" name="picture__input" id="picture__input">
                
               
                  
                  
            </div>
            <a href="/h">
            <button type="submit">Enviar</button>
                </a>    
        </form>
    </div>
</body>

</html>